<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>SR_M_MS</title>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body>
	<form th:action="@{/validador}">
	    <input type="submit" value="Validar mais chaves" />
	</form>
	<form action="selecionarcliente" method="post">
    	<h1><span>Lista de validação das chaves:</span></h1>
        <hr/>
        <span th:if="${erro != null}" th:text="'Ocorreu um erro: '+ ${erro}" ></span>
	    <div th:if="${map != null && ! map.empty}" th:each="mapa : ${map}" >
	        <hr/>
        	<span th:text="'Status da validação: '+ ${mapa.key}" ></span>
	        <div th:each="chave : ${mapa.value}" >
                   <span th:text="'Chave: '+ ${chave}" ></span>
                   <br/>
	        </div>
	        <hr/>
        </div>
        <hr/>
	</form>
</body>
</html>